<footer>
    <div class="row">
        <div class="col-12">
            <p>&copy;
                <script>document.write(new Date().getFullYear());</script> Colleen Saltarelli <span class="pole"> | </span> <a href="./app/admin">admin</a></p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script>moment().format();</script>
<script src="/javascripts/app.js"></script>