<footer>
    <div class="row">
        <div class="col-12">
            <p>&copy;
                <script>document.write(new Date().getFullYear());</script> Colleen Saltarelli</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
const timezone= Intl.DateTimeFormat().resolvedOptions().timeZone;    
moment().tz(timezone).format();
</script>
<script src="/javascripts/app.js"></script>