<footer>
    <!-- views/partials/footer.ejs -->
    <p>&copy; <script>document.write(new Date().getFullYear());</script> Colleen Saltarelli</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/moment.js"></script> 
<script src="/javascripts/app.js"></script>

