<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="row">
        <div class="col-6 logo-side">
            <a class="navbar-brand" href="/">clock:in</a>
        </div>
        <div class="col-6 menu-side">
            <ul class="nav navbar-nav">
                <li>
                    <a id="log-out-button">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>