<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> Time Tracking App</a>
            <ul class="nav navbar-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/app/timesheet">Timesheet</a></li>
                <li><a href="/app/account">Account</a></li>
            </ul>
        </div>
    </div>
</nav>