<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h2>Account Information</h2>
    <form action="/api/users/signup" method="put" name="edit-user" id="edit-user-form" >

    </form> 
</main>

<% include ../partials/footer %>
</body>
</html>