<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="/stylesheets/account.css" rel="stylesheet" type="text/css" />
    <title>clock:in</title>
</head>

<body class="container">

    <header>
        <% include ../partials/header-timesheet %>
    </header>

    <main class="account-page">
        <div id="account-form-holder">
            <h2>Account Information</h2>
            <form name="edit-user" id="edit-user-form">

            </form>
        </div>
    </main>

    <% include ../partials/footer %>
        <script src="/javascripts/account.js"></script>
</body>

</html>