<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container admin">
    <header>
        <% include ../partials/header-logout %>
    </header>
    <main>
        <div class="row">
            <div class="col-12">
                <h2>Employees</h2>
                <table style="width:100%" id="employee-table">
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 logout-holder">
            </div>
        </div>
    </main>
    <% include ../partials/footer %>
        <script src="/javascripts/admin.js"></script>
</body>

</html>