<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <h2>Employees</h2>
    <table style="width:100%" id="employee-table-heading">
        <tr>
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Timesheet</th>
            <th>Account</th>
        </tr>
    </table>
    <table style="width:100%" id="employee-table">

    </table>
</main>

<% include ../partials/footer %>
</body>
</html>