<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />
    <title>clock:in</title>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="homepage">
    <div class="row">
        <div class="col-12">
            <h1>clock:in a time tracking solution</h1>
            <h4>Whether it’s from your desktop, smartphone or tablet, it’s never been so easy to track your employees time.</h4>
            <a href="/signup" class="btn">get started</a>
        </div>
    </div>
</main>

<% include ../partials/footer %>
</body>
</html>