<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="/stylesheets/signup.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" />
    <title>clock:in</title>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main class="signup-page">
        <div id="signup-form-holder">
            <h2>log in</h2>
            <form name="logIn" id="login-form">
                <label for="email"></label>
                <input aria-labelledby="email" type="text" placeholder="email" name="email" id="login-email">
                <label for="password"></label>
                <input aria-labelledby="password" type="password" placeholder="password" name="password" id="login-password">
                <input aria-label="login" id="login-button" type="submit" class="btn" value="Submit">
                <p class="login-message">Don't have an account?
                    <a href="/signup" id="signUpLink">Sign Up</a>
                </p>
            </form>
        </div>
    </main>

    <% include ../partials/footer %>
</body>

</html>