<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<p>log in</p>

<form name="logIn" id="login-form">
    
    <label for="email">Email</label>
    <input type="text" name="email" value="Mickey@mouse.com" id="login-email">

    <label for="password">Password</label>
    <input type="text" name="password" value="MickeyMouse123" id="login-password">

    <input id="login-button" type="submit" class="btn" value="Submit">
    <p class="login-message">Don't have an account? <a href="/signup" id="signUpLink">Sign Up</a></p>

  </form> 
</main>

<% include ../partials/footer %>
</body>
</html>