<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<p>log in</p>

<form action="/api/users/login" method="get">
    Email:<br>
    <input type="text" name="email" value="Mouse@mouse.com">
    <br><br>
    Password:<br>
    <input type="text" name="password" value="MouseHOUSE123">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</main>

<% include ../partials/footer %>
</body>
</html>