<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<p>sign up</p>

<form action="/api/users/signup" method="post" name="signUp" id="signup" >
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" value="Pluto">

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" value="Dog">

    <label for="email">Email</label>
    <input type="text" name="email" value="PlutoDog@mouse.com">

    <label for="password">Password</label>
    <input type="text" name="password" value="PlutoDog123">

    <input id="signup-button" type="submit" class="btn" value="Submit">
    <p class="login-message">Already have an account? <a href="/login" id="logInLink">Login</a></p>
  </form> 

</main>

<% include ../partials/footer %>
</body>
</html>