<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header-logout %>
    </header>
    <main class="timesheet-page">
        <div class="row">
            <div class="col-8 timesheet-holder hidden" id="clock-holder">
                <form name="clockInOut" id="clockInOut">
                    <h2>time clock</h2>
                    <div class="clock-buttons">
                        <button value="Clock In" data-time="clockin" id="clock-in-time">Clock In</button>
                        <button value="Clock Out" data-time="clockout" id="clock-out-time">Clock Out</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mobile-hidden">
            <div class="col-8 timesheet-holder" id="timesheet-time-entries">
                <section>
                    <h2>time sheet</h2>
                    <table style="width:100%" id="timesheet-table">

                    </table>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12 logout-holder">
            </div>
        </div>
    </main>
    <% include ../partials/footer %>
        <script src="/javascripts/timesheet.js"></script>
</body>

</html>