<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
    <form  name="clockInOut" id="clockInOut">
        <button value="Clock In" data-time="clockin" id="clock-in-time">Clock In</button>
        <button value="Clock Out" data-time="clockout" id="clock-out-time">Clock Out</button>
    </form>
    <section>
        <h2>Timesheet</h2>
        <table style="width:100%" id="timesheet-table-heading">
            <tr>
                <th>Clock In</th> 
                <th>Clock Out</th>
            </tr>
        </table>
        <table style="width:100%" id="timesheet-table">    

        </table>
    </section>
    </main>
<% include ../partials/footer %>
<script src="/javascripts/timesheet.js"></script>
</body>
</html>