<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<p>timesheet</p>

<input type="datetime-local" value="" id="clock-in-time-holder">
<input type="button" value="time" name="clock-in-timer" id="clock-in-time">

<input type="datetime-local" value="" id="clock-out-time-holder">
<input type="button" value="time" name="clock-out-timer" id="clock-out-time">

</main>
<% include ../partials/footer %>
</body>
</html>